.DS_Store
node_modules/
# /dist/
# need to keep dist so it can be deployed to Heroku
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
